{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block javascript %}
    <style type="text/css">
      #map {
        margin-left: auto;
        margin-right: auto;
        width:70%;
        height:425px;
      }
      #addField {
        width: 400px;
        margin-bottom: 30px;
      }
      .custom-map-control-button {
        appearance: button;
        background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        margin: 10px;
        padding: 0 0.5em;
        height: 40px;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
      }
      .custom-map-control-button:hover {
        background: #ebebeb;
      }
    </style>
    <script>
        let map, infoWindow;

        function initMap() {
            var map2 = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 41.355, lng: -72.099 },
                zoom: 7,
            });

            var l = 41.355;
            var r = -72.099;       
            var latLng6 = { lat: l, lng: r };
            var temp = "football";
            var contentString = '';
            {% if games_list %}
                {% for event in games_list %}
                    contentString = 
                    '<div id="content">' +
                    '<div id="siteNotice">' +
                    "</div>" +
                    '<h1 id="firstHeading" class="firstHeading">{{ event.name }} </h1>'+
                    '<div id="bodyContent">' +
                    '<h4>{{ event.level }} </h4>'+
                    '<h4 class="mb2 data_change" id="{{ event.id }}">Players Coming: {{ event.current_players }} / {{ event.max_players }} </h4>'+
                    '<a href="/signUps/games/{{ event.id }}" class="btn btn-info" role="button">See Game Details</a>'
                    "</div>" +
                    "</div>";
                    temp = "{{event.sport}}";
                    l = parseFloat("{{event.lat}}");
                    r = parseFloat("{{event.lng}}");
                    latLng6 = { lat: l , lng: r };
                    addMarker(map2, temp, latLng6,contentString);
                {% endfor %}
            {%endif%}
            //get Current Location
            infoWindow = new google.maps.InfoWindow();
            const locationButton = document.createElement("button");
            locationButton.textContent = "Pan to Current Location";
            locationButton.classList.add("custom-map-control-button");
            map2.controls[google.maps.ControlPosition.TOP_CENTER].push(
              locationButton
            );
            locationButton.addEventListener("click", () => {
              // Try HTML5 geolocation.
              if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                  (position) => {
                    const pos = {
                      lat: position.coords.latitude,
                      lng: position.coords.longitude,
                    };
                    //infoWindow.setPosition(pos);
                    //infoWindow.setContent("Location found.");
                    //infoWindow.open(map);
                    marker2 = new google.maps.Marker({
                      position: pos,
                      map: map2,
                      animation: google.maps.Animation.DROP,
                      label: "you",
                    });
                    map2.setCenter(pos);
                    map2.setZoom(13);
                  },
                  () => {
                    handleLocationError(true, infoWindow, map2.getCenter(), map2);
                  }
                );
              } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map2.getCenter(), map2);
              }
            });
            $("#addSubmit").on("click", function(event) {
              var address;
              address = $("#addField").val();
              $.ajax({
                  url: '{% url "signUps:centerMap" %}',
                  data: {
                      'add': address
                  },
                  dataType: 'json',
                  success: function(data){
                      var pos = {
                        lat: data.lat,
                        lng: data.lng,
                      };
                      map2.setCenter(pos);
                      map2.setZoom(13);
                      var marker2 = new google.maps.Marker({
                        position: pos,
                        map: map2,
                        animation: google.maps.Animation.DROP,
                        label: "you",
                      });
                  }
              });
            });
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos, mapa_) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(
          browserHasGeolocation
            ? "Error: The Geolocation service failed."
            : "Error: Your browser doesn't support geolocation."
        );
        infoWindow.open(mapa_);
      }

        function addMarker(mapa_,game,latLng,contentString) {
                
            const infowindow = new google.maps.InfoWindow({
                content: contentString,
            });
            var icon2 = {
                url: '/media/images/'+game+'-ball.png', // url
                scaledSize: new google.maps.Size(25, 25), // size
            };
            const marker = new google.maps.Marker({
                position: latLng,
                map: mapa_,
                icon: icon2,
                animation: google.maps.Animation.DROP,
            });
            marker.addListener("click", () => {
                marker.setAnimation(google.maps.Animation.BOUNCE);
                infowindow.open(mapa_, marker);
            })
            infowindow.addListener('closeclick', () => {
                marker.setAnimation(null);
            });
            mapa_.addListener("click", () => {
                infowindow.close();
                marker.setAnimation(null);
            });
        }

        $(document).ready(function () {
            $(".btn-success").on("click", function(event) {
                var id;
                id = $(this).attr("data-id");
                $(this).attr({"disabled": true});
                $.ajax({
                    url: '{% url "signUps:attendGame" %}',
                    data: {
                        'id': id
                    },
                    dataType: 'json',
                    success: function(data){
                        if (data.yes) {
                            alert(data.error_message);
                        }
                        var _attend;
                        var _max;
                        _attend = data.attend;
                        _max = data.max;
                        $("#"+id).html("Players Coming: "+ _attend +" / " + _max);
                        
                    }
                });
            });
            $(".btn-warning").on("click", function(event) {
                var id;
                id = $(this).attr("data-id");
                $(this).attr({"disabled": true});
                $.ajax({
                    url: '{% url "signUps:leaveGame" %}',
                    data: {
                        'id': id
                    },
                    dataType: 'json',
                    success: function(data){
                        if (data.yes) {
                            alert(data.error_message);
                        }
                        var _attend;
                        var _max;
                        _attend = data.attend;
                        _max = data.max;
                        $("#"+id).html("Players Coming: "+ _attend +" / " + _max);
                        
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block body_block %}
<h5>If you don't want to share your current location, then enter your full address below.</h5>
        <h5>Ex: 270 Mohegan Ave Pkwy, New London, CT</h5>
        <label for="add">Address:</label>
        <input id="addField" type="text" name="address" placeholder="270 Mohegan Ave Pkwy, New London, CT">
        <button class="btn btn-primary" role="button" id="addSubmit" >Find Address</button>
        <br>
        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ filter_form|crispy }}
          <input type="submit" name="" class="btn btn-secondary" value="Search">
        </form>
    <div id="map"> </div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiRulAGF1hJPBF0Wh7qnw5dNZvL2lFP5c&callback=initMap"
      async
    ></script>
    <h2>Here are all of the current games:</h2>

        {% if games_list %}
            {% for game in games_list %}
                <div class="container">
                    <div class="jumbotron" style="padding-bottom: 80px;">
                    <div class="col-md-4">
                     <img src="/media/images/{{ game.sport }}-game.jpg" class="img-responsive" style="width: 100%; height: 200px; float: center; margin-right: 10px; margin-bottom: 10px; margin-top: 0px;" /> 
            </div> 
                        <p class="mb2">{{ game.name }} </p>
                        {#<p class="mb2">Sport: {{ game.sport }} </p>#}
                        <p class="mb2">{{ game.level }} </p>
                        <p class="mb2 data_change" id="{{ game.id }}">Players Coming: {{ game.current_players }} / {{ game.max_players }} </p>
                        {% if game.temp %}
                            <button class="btn btn-warning" type="button" data-id="{{ game.id }}">Leave Game</button>
                        {% else %}
                            <button class="btn btn-success" type="button" data-id="{{ game.id }}">Attend Game</button>
                        {% endif %}
                        <a href="/signUps/games/{{ game.id }}" class="btn btn-info" role="button">See Game Details</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h2>There are currently no games available </h2>
        {% endif %}

    </div>
  </div>
{% endblock %}