{% extends "base.html" %}
{% load static %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $(".btn-success").on("click", function(event) {
                var id;
                id = $(this).attr("data-id");
                $(this).attr({"disabled": true});
                $.ajax({
                    url: '{% url "signUps:attendGame" %}',
                    data: {
                        'id': id
                    },
                    dataType: 'json',
                    success: function(data){
                        if (data.yes) {
                            alert(data.error_message);
                        }
                    }
                });
            });
            $(".btn-warning").on("click", function(event) {
                var id;
                id = $(this).attr("data-id");
                $(this).attr({"disabled": true});
                $.ajax({
                    url: '{% url "signUps:leaveGame" %}',
                    data: {
                        'id': id
                    },
                    dataType: 'json',
                    success: function(data){
                        if (data.yes) {
                            alert(data.error_message);
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block body_block %}
    <h2>Here are all of the current games:</h2>

        {% if games_list %}
            {% for game in games_list %}
                <div class="container">
                    <div class="jumbotron" id="{{ game.id }}">
                        <p class="mb2">{{ game.name }} </p>
                        <p class="mb2">Sport: {{ game.sport }} </p>
                        <p class="mb2">{{ game.level }} </p>
                        <p class="mb2 data_change">Players Coming: {{ game.current_players }} / {{ game.max_players }} </p>
                        {% if game.temp %}
                            <button class="btn btn-warning" type="button" data-id="{{ game.id }}">Leave Game</button>
                        {% else %}
                            <button class="btn btn-success" type="button" data-id="{{ game.id }}">Attend Game</button>
                        {% endif %}
                        <a href="/signUps/games/{{ game.id }}" class="btn btn-info" role="button">See Game Details</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h2>There are currently no games available </h2>
        {% endif %}

    </div>
  </div>
{% endblock %}