{% extends "base.html" %}
{% load static %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">

        <p class="mb2">{{ game.date }} </p>
        <p class="mb2">Name: {{ game.name }} </p>
        <p class="mb2">Sport: {{ game.sport }} </p>
        <p class="mb2">{{ game.level }} </p>
        <p class="mb2">{{ game.location }} </p>
        <p class="mb2">Players Coming: {{ game.current_players }} / {{ game.max_players }} </p>
        {% if host %}
          <p class="mb2">*You are the host for this game*</p>
          <p class="mb2">{{ game.description }} </p>
          <a href="" class="btn btn-danger" role="button">Delete Game</a>
        {% else %}
          <p class="mb2">Host: <a href="/signUps/user/{{ game.host.id }}" >@{{ game.host.username }}</a>  ({{ game.host.first_name }} {{ game.host.last_name }})</p>
          <p class="mb2">{{ game.description }} </p>
          {% if attending %}
            <a href="" class="btn btn-danger" role="button">Unattend Game</a>
          {% else %}
            <a href="" class="btn btn-success" role="button">Attend Game</a>
          {% endif %}
        {% endif %}
    </div>
  </div>
  <div class="container">
    <div class="jumbotron">

        <p class="mb2">Players Coming: {{ game.current_players }} / {{ game.max_players }} </p>
        <p class="mb2"><a href="/signUps/user/{{ game.host.id }}" >@{{ game.host.username }}</a>  ({{ game.host.first_name }} {{ game.host.last_name }}) *Host*</p>
        {% for user in players_list %}
          <p class="mb2"><a href="/signUps/user/{{ user.id }}" >@{{ user.username }}</a>  ({{ user.first_name }} {{ user.last_name }})</p>
        {% endfor %}
    </div>
  </div>
{% endblock %}