{% extends "base.html" %}
{% load static %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">

        <p class="mb2">ID: {{ game.id }} </p>
        <p class="mb2">Name: {{ game.name }} </p>
        <p class="mb2">Sport: {{ game.sport }} </p>
        <p class="mb2">{{ game.level }} </p>
        <p class="mb2">Players Coming: {{ game.current_players }} / {{ game.max_players }} </p>
        <a href="" class="btn btn-danger" role="button">Delete Game</a>
        <a href="" class="btn btn-success" role="button">STest</a>

    </div>
  </div>
{% endblock %}