{% extends "base.html" %}
{% block javascript %}
    <script>
      let map;

      function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 35.333, lng: -90.333 },
          zoom: 5,
        });
        addMarker(map);
      }

      function addMarker(mapa_) {
        const latLng = { lat: 35.333, lng: -90.333 };
        const marker = new google.maps.Marker({
          position: latLng,
          map: mapa_,
          icon: 'media/images/soccer-ball.png',
        });
      }
    </script>
{% endblock %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Footisy!</h1>
    <h2>Find a game. Get active.</h2>
    {% if user.is_authenticated %}
        <h2>Hello {{ user.first_name }} {{ user.last_name }}</h2>
    {% else %}
        <h2><a href="{% url 'signUps:register' %}">Register</a> or <a href="{% url 'signUps:user_login' %}">Login</a> to get started</h2>
    {% endif %}
  </div>
</div>
{% if user.is_authenticated %}
  <div id="map" style="height:400px; width:800px; margin:150px"> </div>
  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiRulAGF1hJPBF0Wh7qnw5dNZvL2lFP5c&callback=initMap"
      async
    ></script>


{% endif %}
{% endblock %}