{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block javascript %}
    <style type="text/css">
      .asteriskField {
          display: none;
      }
    </style>
{% endblock %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Login here :</h1>
<form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ login_form|crispy }}
          <input type="submit" name="" class="btn btn-primary" value="Log in">
        </form>
</div>
  </div>
{% endblock %}