{% extends "base.html" %}
{% load static %}
{% block body_block %}
    <h2>Here are the games that you are hosting:</h2>
        {% if games_list %}
                {% for game in games_list %}
                    <div class="container">
                       <div class="jumbotron">
                        <p class="mb2">ID: {{ game.id }} </p>
                        <p class="mb2">Name: {{ game.name }} </p>
                        <p class="mb2">Sport: {{ game.sport }} </p>
                        <p class="mb2">{{ game.level }} </p>
                        <p class="mb2">Players Coming: {{ game.current_players }} / {{ game.max_players }} </p>
                        <input type="hidden" name="game_id" value="{{ game.id }}">
                        <a href="" class="btn btn-danger" role="button">Delete Game</a>
                        <a href="/signUps/games/{{ game.id }}" class="btn btn-warning" role="button">See Game Details</a>
                        </div>
                    </div>
                {% endfor %}
        {% else %}
            <h2>You are not hosting any games currently</h2>
        {% endif %}
        
        <h2>Here are the games that you are attending:</h2>
        {% if attending_list %}
                {% for game in attending_list %}
                    <div class="container">
                      <div class="jumbotron">
                        <p class="mb2">ID: {{ game.id }} </p>
                        <p class="mb2">Name: {{ game.name }} </p>
                        <p class="mb2">Sport: {{ game.sport }} </p>
                        <p class="mb2">{{ game.level }} </p>
                        <p class="mb2">Players Coming: {{ game.current_players }} / {{ game.max_players }} </p>
                        <p class="mb2">Host: <a href="/signUps/user/{{ game.host.id }}" >@{{ game.host.username }}</a>  ({{ game.host.first_name }} {{ game.host.last_name }}) </p>
                        <input type="hidden" name="game_id" value="{{ game.id }}">
                        <a href="" class="btn btn-danger" role="button">unAttend Game</a>
                        <a href="/signUps/games/{{ game.id }}" class="btn btn-warning" role="button">See Game Details</a>
                      </div>
                    </div>
                {% endfor %}
        {% else %}
            <h2>You are not attending any games currently</h2>
        {% endif %}
{% endblock %}