
{% extends "base.html" %}

{% block body_block %}

<div class="container">
    <div class="jumbotron">
            <div class="col-md-4">
                     <img src="{{ profile.profile_pic.url }}" class="img-responsive" style="width: 100%; float: center; margin-right: 10px; margin-bottom: 50px;" /> 
            </div> 
    
            <h3 class="b mb2"> @{{ profile.username }}</h3>          
            <h3 class="b mb2">{{ profile.name }}</h3>            
    </div>
</div>
 <div class="container">
    <div class="jumbotron">

                <div class="pl2">
                    <a class="navbar-link" href="{% url 'signUps:editProfile' %}">Edit Profile</a>

                    <p class="mb2">Bio: {{ profile.bio }} </p>

                    <p class="mb2">Top 3 Sports: {{ profile.sports }}</p>

                </div>
        </div>
                
</div>
<div class="container">
    <div class="jumbotron">
        <h3 class="b mb2">Teammates:</h3>
            {% if team %}
                {% for user in team %}
                    <p class="mb2" id="{{ user.id }}"><a href="/signUps/user/{{ user.id }}" >@{{ user.username }}</a>  ({{ user.first_name }} {{ user.last_name }})</p>
                {% endfor %}
            {% else %}

                <p class="mb2">You have no teammates yet! Start connecting with friends today!</p>

            {% endif %}


    </div>
</div>

{% endblock %}