
{% extends "base.html" %}

{% block body_block %}

<div class="container">
    <div class="jumbotron">
            <div class="col-md-4">
                     <img src="{{ profile.profile_pic.url }}" class="img-responsive" style="width: 100%; float: center; margin-right: 10px;" /> 
            </div> 
    
            <h3 class="b mb2"> @{{ profile.username }}</h3>
            <h3 class="b mb2">{{ profile.name }}</h3>
            <div class="container">
                <div class="jumbotron">

                <div class="pl2">
                    <p class="mb2">Bio: {{ profile.bio }} </p>

                    <p class="mb2">Top 3 Sports: {{ profile.sports }}</p>

                </div>
                </div>

            </div>
    </div>
</div>

{% endblock %}